.turtle{
	position:absolute;
	top:0;
	right:0;
	width:16px;
	height:16px;
	margin:8px;
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	z-index: 20;
}

* { box-sizing: border-box; } 

#ccontainer{
	overflow: hidden;
	/*border: 10px solid black;*/
	z-index:0;
}

#c{
	position:absolute;
	top:10;
	right:10;
	bottom:10;
	/*border-radius: 20px;*/
	width: calc(100%-20px);
	height: calc(100%-20px);
	background-color:#0000ff;
	overflow:hidden;
}

body,html{
	background-color:#0000ff;
	overflow: hidden;
}

p{
	font-family: monospace;
	font-size: 11px;
	color: white;
}

div {
	font-size: 11px;
}